* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    display: block;
    /*display: flex;
    flex-direction: column;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    margin: 0;
}

/* #region Formulaire */
    body {font-family: Arial, Helvetica, sans-serif;}

    input[type=text], input[type=email], input[type=date] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    button:hover {
        opacity: 0.8;
    }

    .container {
        padding: 16px;
    }
/* #endregion */

/* #region Calendrier */
.calendar,
.calendar * {
  box-sizing: border-box;
}

/* Calendrier */
.calendar {
  width: 100%;
  max-width: 950px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-header,
.calendar-days,
.calendar-dates {
  width: 100%;
}

/* Header */
.calendar-header {
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* Jours */
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  background-color: #007bff;
  color: white;
}

.calendar-days div {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

/* Dates */
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
}

.calendar-dates div {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;

  overflow-wrap: anywhere;
  word-break: break-word;

  min-height: 70px;
  align-content: start;
}

/* Today */
.today {
  background-color: #ffdd57;
  font-weight: bold;
}
/* #endregion */

/* #region header */
    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        border: solid 2px;
        width: 100%;
        background-color: #885830;
    }
    .logohead{
        width: 10%;
    }
    .logohead img {
        width :100px;
    }
    .navhead {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navhead a{
        margin: 60px;
        color:#FAD7B9;
        border: solid 5px #FAD7B9;
        background-color: #A65C1B;
        border-radius: 10px;
        padding: 5px;
    }
/* #endregion */